*.DS_Store
.vscode
.snakemake
logs*/*
*__pycache__
prokanota/config/config-*.yaml
prokanota/config/databases-*.yaml
prokanota/config/metadata-*.csv
prokanota/workflow/conda/
prokanota/tests/output
prokanota.egg-info
dist/*
